**/node_modules/
**/.env
.act

.idea/
.vscode/
.next/
.serverless/
.esbuild/

# Lambda bundler related workaround. See: https://github.com/prisma/prisma/discussions/15697#discussioncomment-5611267
**/server/**/*.node
**/server/**/schema.prisma